

.maximumNotice {
  font-size: 12px;
  margin-bottom: 7px;
}

.wishlist {
  position: absolute;
  background-color: white;
  right: 7px;
  top: 7px;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  }
  .wishlist:hover {
    
    box-shadow: 0 0 10px -3px rgb(0, 0, 0, 0.4);
}